doctype html
html
    head
        title lists
    body
        h1 #{title}
        p Creer nouvelle tache, appuyer 
            a(href='/lists/addTache') ici

        p Rajouter tache a une liste existente: 
            select
                each t  in tab
                    option t
                                
        //ol
            
        
        