doctype html
html
    head
        title lists
    body
        h1 #{title}
        p Creer nouvelle tache, appuyer 
            a(href='/lists/addTache') ici

        p Consulter une liste existente: 
            select(name='dropDown', id='')
                each list in lists
                    option=list
        a(href='/lists/vourList', class="button") Aller voir la liste

                                  
        //document.getElementsByClassName("button")[0].addEventListener("click", function(event){
        //var listAV = document.getElementByname("dropDown").value;
        //event.target.setAttribute("href", "/list/voirList"+listAV);});  
        
        