doctype html
html
    head
        title lists
    body
        h1 #{title}
        p Creer nouvelle tache, appuyer 
            a(href='/lists/addTache') ici

        p Consulter une liste existente: 
            select(name='dropDown', id='')
                each list in lists
                    option=list
                                
            
        
        