doctype html
html
    head
        title login
    body
        h1 #{title}
        form(method='POST', action='/users/login')
            #form-group
                label Nom d'utilisateur:
                input.form-control(name='userName', type='text')
            #form-group
                label Mot de passe:
                input.form-control(name='password', type='text')
            input(type='submit', value='Acceder')

                        