doctype html
html
    head
        title login
    script
        function checkUser(x,y) 
            var a = x.value;
            var b = y.value;
            each user, i in users
                if(user.userName==a && user.password==b)    
                    alert("Utilisateur trouve")
                else
                    alert("Utilisateur non trouve") 
        
    body
        h1 #{title}
        label Nom d'utilisateur:
        input(name='userName', type='text')
        label Mot de passe:
        input(name='password', type='text')
        input(type="button" value ="Entrer" onclick="checkUser(userName,password)")
                        